---
import Layout from "../../layouts/Layout.astro";

// https://docs.astro.build/en/reference/api-reference/#getstaticpaths
export async function getStaticPaths() {
  return [
    { params: { id: "1" } },
    { params: { id: "2" } },
    { params: { id: "3" } },
  ];
}

const { id } = Astro.params;
---

<Layout title="Blog">
  <h2>Post {id}</h2>
</Layout>
