<div
  class="fixed z-20 bottom-0 right-0 left-0 inline-flex space-x-20 justify-center align-middle font-bold uppercase tracking-wide text-gray-600 bg-yellow-50 flex items-center h-16"
>
  <a href="/learning-astro/" class="hover:text-pink-600">home</a>
  <a href="/learning-astro/works/" class="hover:text-pink-600">works</a>
  <a href="/learning-astro/services/" class="hover:text-pink-600">services</a>
  <a href="/learning-astro/contact/" class="hover:text-pink-600">contact</a>
</div>
