---
const Card = "div";
const Container = "div";
export interface Props {
  name: string;
  job: string;
  male?: boolean;
}
const { name, job, male = false } = Astro.props;
---

<Card class="card">
  <img
    src={male ? "images/avatar1.png" : "images/avatar2.png"}
    alt="user avatar"
    style="width:100%"
  />
  <Container class="container">
    <h4>{name}</h4>
    <p>{job}</p>
    <slot name="description">
      <p>
        Add your description here
      </p>
    </slot>
  </Container>
</Card>

<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 50px;
    width: 15%;
    margin-bottom: 15px;
    padding: 20px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 2px, 16px;
  }
</style>
